.img-logo {
    width: 40vw;
    height: 10vh;
}

.img-container {
    padding-top: 2vh;
    max-height: 25%;
}

.landing-container {
    height: 60vh;
    background-color: #F8CC0A
}

.row-title {
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-height: 25%;
}


.about-container {
    padding-top: 2vh;
    /* height: 60vh; */
}

.links-container {
    padding-top: 2vh;
    /* height: 60vh; */
    background-color: #F8CC0A
}

.img-why-us {
    width: 30vw;
}

.padding-bottom {
    padding-bottom: 3vh;
}